.DS_Store
._.DS_Store
._*.png
._*.gif
saunaData.txt
text2.txt
*.gch
*.swp
*.o
tempSensor
tempSensorOrig
readSensor
botId.txt
cscope.out
.idea
Test/SaunaPiDataTest
build/*
cmake-build-debug/*
CMakeCache.txt
CMakeFiles/*
plot.png
/bin
/lib
